@model BoughtAndHappy.Data.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2 mt-5">
            <a class="text-decoration-none fw-normal" asp-action="Index">Back to List</a>
        </dt>
        <dd class="col-sm-10 mt-5">
            @if (Model.Stock <= 0)
            {
                <p class="text-danger">out of stock</p>
            }
            else
            {
                <a asp-controller="Cart"
                   asp-action="Add"
                   asp-route-id="@Model.Id">
                    Add to cart <img src="~/addToShoppingCart.svg" />
                </a>
            }
        </dd>
    </dl>
</div>
<div>
</div>
