@using BoughtAndHappy.DTO

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}

@model List<CartItem>

<h2>Checkout</h2>

<table class="table">
    <tr>
        <th>Product</th>
        <th>Qty, pcs</th>
        <th>Total, $</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
            <td>@(item.Price* item.Quantity)</td>
        </tr>
    }

    <tr>
        <td></td>
        <td class="fw-bold text-end">Sum:</td>
        <td>@(Model.Sum(i => (i.Price * i.Quantity)))</td>
    </tr>
</table>

<form asp-action="PlaceOrder" method="post">
    <button class="btn btn-success">Place order</button>
</form>

<a asp-controller="Cart" asp-action="Index" class="btn btn-secondary mt-3">
    Back to cart
</a>